<button
  type="button"
  class="btn lottery-button"
  {{on "click" this.drawLottery}}
  disabled={{not this.canDraw}}
>
  {{#if this.isLoading}}
    抽奖中...
  {{else}}
    抽奖 ({{this.drawCount || 1}}人)
  {{/if}}
</button>

{{#if this.winners.length}}
  <div class="lottery-result">
    <p>已开奖：</p>
    <ul>
      {{#each this.winners as |winner|}}
        <li>{{winner}}</li>
      {{/each}}
    </ul>
    <p>开奖时间：{{this.drawnAt}}</p>
  </div>
{{/if}}
